.template h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #353B43;
    padding-bottom: 30px;
}
.template p.text-1{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #8B97A8;
    padding-bottom: 40px;
    margin-bottom: 0;
}
.template p.text-2{
    font-size: 18px;
    line-height: 23px;
    color: #575E68;
    padding-bottom: 40px;
    margin-bottom: 0;
}
.template .title-2{
    display: flex;
    padding-bottom: 10px;
}
.template .title-2 svg{
    width: 22px;
    height: 22px;
}
.template .title-2 h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #353B43;
    padding-left: 10px;
    margin-bottom: 0;
}
.game-desc h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #353B43;
    margin-bottom: 0;
    padding-bottom: 30px;
}
.our-recommendations{
    background: #FFFFFF;
    box-shadow: 0px -4px 20px rgba(182, 178, 223, 0.1), 0px 10px 20px rgba(182, 179, 223, 0.25);
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 30px;
}
.our-recommendations h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #353B43;
    margin-bottom: 0;
    padding-bottom: 30px;
}
.our-recommendations img{
    max-width: 100%;
    height: auto;
}
.game-desc .meh-list, .our-recommendations .meh-list{
    padding-left: 15px;
}
.game-desc ul.meh-list li, .our-recommendations ul.meh-list li{
    color: #353B43;
    padding-bottom: 10px;
}
.game-desc ul.meh-list li span, .our-recommendations ul.meh-list li span{
    color: #575E68;
}
.example-game{
    padding-top: 100px;
    padding-bottom: 40px;
}
.example-game h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #353B43;
    padding-bottom: 30px;
}
.example-game p{
    font-size: 18px;
    line-height: 23px;
    color: #575E68;
}
.direct-speech {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px dashed #C9D2E0;
    box-sizing: border-box;
    border-radius: 10px;
}
.direct-speech svg{
    width: 44px;
    height: 44px;
    margin-bottom: 20px;
}
.direct-speech p{
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #575E68;
}
@media (max-width: 1500px){}
@media (max-width: 1200px){
    .direct-speech p{
        font-size: 18px;
        line-height: 23px;
    }
}
@media (max-width: 992px){
    .our-recommendations{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .our-recommendations .pl-30{
        padding-left: 30px;
    }
    .our-recommendations img{
        margin-top: 60px;
    }
    .our-recommendations h3{
        padding-top: 30px;
    }
    .example-game{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .example-game h4{
        padding-bottom: 15px;
    }
    .template h2{
        padding-bottom: 20px;
    }
}
@media (max-width: 576px){

    .template h2{
        display: none;
    }
    .template p.text-1{
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 20px;
    }
    .template .title-2 h3, .template p.text-2, .game-desc h3, .game-desc ul.meh-list li span, .our-recommendations ul.meh-list li span, .game-desc ul.meh-list li, .our-recommendations ul.meh-list li, .tabs-items .text h2, .example-game h4, .example-game p, .direct-speech p{
        font-size: 14px;
        line-height: 18px;
    }
    .template p.text-2{
        padding-bottom: 20px;
    }
    .game-desc h3{
        padding-bottom: 11px;
    }
    .our-recommendations{
        padding-top: 0;
        margin-top: 20px;
    }
    .our-recommendations img{
        margin-top: 15px;
    }
    .our-recommendations h3{
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
    .ideas-for-the-game h1{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .tabs-items .text p{
        font-size: 12px;
        line-height: 14px;
    }
}